section{
    width: 100%;
    border-top: 2px solid #f61d4b;
    margin-top: 15px;
}
section .breadcrumb{
    height: 50px;
    line-height: 50px;
    color: #666;
}
section .breadcrumb a{
    color: #666;
    font-size: 13.49px;
}
.breadcrumb a:after{
    content: ">";
    padding: 0 5px;
}
.breadcrumb a:last-child:after{
    content: "";
}
section .type_select{
    color: #666;
    font-size: 13.49px;
}
section .type_select span{
    background-color: #f61d4b;
    color: #fff;
    padding: 8px 20px;
    margin-left: 45px;
    border-radius: 18px;
}
.type .type_fl{
    border: 1px solid #e3e3e3;
    margin-top: 20px;
}
.type .type_fl dl{
    border-bottom: 1px solid #e3e3e3;
}
.type .type_fl dl dt,.type .type_fl dl dd{
    float: left;
}
.type .type_fl dl dt{
    width: 95px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
    font-size: 15px;
    background-color: #f3f3f3;
}
.type .type_fl dl dd{
    height: 50px;
}
.type .type_fl dl dd a{
    margin-left: 10px;
    float: left;
    padding: 5px 7px;
    margin-top: 11px;
    color: #666;
    font-size: 15px;
}
.type .type_fl dl dd a.current{
    background-color: #f61d4b;
    color: #fff;
    border-radius: 15px;
}
.type .type_fl dl:last-child{
    border-bottom: none;
}
.type .type_num{
    border: 1px solid #e3e3e3;
    border-top: none;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
    font-size: 14.21px;
}
.type .type_num span{
    color: #f61d4b;
    font-weight: bold;
}
.list{
    margin-top: 10px;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
.list ul li{
    float:left;
    width: 298.7px;
    height: 390px;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}

.list ul li a{
    color: #303030;
    font-size: 14.19px;
}
.list ul li a dl dt img {
    width: 242px;
    height: 255px;
}
.list ul li a dl dd{
    margin-top: 35px;
}
.list ul li a dl dd span{
    color: #ff0000;
    font-size: 14.19px;
}
.list ul li a dl dd b{
    color: #ff0000;
    font-size: 24.35px;
}
.list ul.row2 li,.list ul.row3 li,.list ul.row4 li,.list ul.row5 li{
    border-top: none;

}

/*∑÷“≥µº∫Ω*/
.pages {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pages a {
    color:#999;
    box-sizing: border-box;
    height: 30px;
    min-width: 30px;
    font-size: 14px;
    display: inline-block;
    border:1px solid #ddd;
    margin: 0 2px;
    padding: 0 6px;
    line-height: 30px;
}
.pages a:hover {
    border-color:#f30;
}
.pages a.cur {
    border-color:#f30;
    background: #f30;
    color: #fff;
}
.pages a.disabled {
    border-color: #ddd;
    color:#ddd;
    cursor: default;
}
