/*面包屑导航*/
.breadcrumb {
    line-height: 32px;
    color: #999;
    font-size: 14px;
    margin: 20px 0;
}

/*购物车*/
.cart {
    margin-top:20px;
}
.cart_header {
    text-align: right;
    font-size: 14px;
    line-height: 36px;
}
.cart_header>button{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 36px;
    background: #f61d4b;
    border:none;
    color:#fff;
    font-size: 18px;
    outline: none;
}
.cart_header>button:hover{background: #dd0232;}

.cart_header>span,.cart_header>a {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.cart_header>span>em {
    font-style: normal;
    color:#f61d4b;
}
.cart_header>span>strong{
    font-size: 18px;
    color:#f61d4b;
}
.cart_header>p {
    float: left;
    width: 110px;
    text-align: center;
}
.cart_con {
    margin: 10px 0;
    font-size: 14px;
}
.cartcon_title {
    background: #eee;
    border:1px solid #ddd;
}
.cartcon_title>span {
    line-height: 33px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.cartcon_title>span:nth-child(1){
    width: 80px;
}
.cartcon_title>span:nth-child(2){
    width: 500px;
}
.cartcon_title>span:nth-child(3){
    width: 120px;
}
.cartcon_title>span:nth-child(4){
    width: 140px;
}
.cartcon_title>span:nth-child(5){
    width: 120px;
}
.cartcon_title>span:nth-child(6){
    margin-left: 100px;
}
/*购物车列表*/
.cartcon_list h2 {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    border: 1px solid #ddd;
    border-top: none;
}
.cartcon_list h2 a {
    color:#f61d4b;
}
.cartcon_list ul li {
    padding:20px 0;
    border: 1px solid #ddd;
    border-top: none;
}
.cartcon_list>ul>li>span,
.cartcon_list>ul>li>span>input,
.cartcon_list>ul>li>a,
.cartcon_list>ul>li>i,
.cartcon_list>ul>li>div,
.cartcon_list>ul>li>div>span,
.cartcon_list>ul>li>div>input,
.cartcon_list>ul>li>strong,
.cartcon_list>ul>li>em {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-style: normal;
}
.cartcon_list>ul>li>span {
    width: 60px;
}
.cartcon_list>ul>li>a.cart_img {
    width: 130px;
    height: 130px;
    overflow: hidden;
}
.cartcon_list>ul>li>a.cart_img img {
    max-width:100%;
}
.cartcon_list>ul>li>a.cart_title {
    width: 320px;
    margin-left: 70px;
    font-size: 18px;
    text-align: left;
}
.cartcon_list>ul>li>i {
    width: 120px;
}
.cartcon_list>ul>li>div {
    width: 140px;
}
.cartcon_list>ul>li>div>span {
    width: 20px;
    height:20px;
    background: #e8e8e8;
    line-height: 20px;
}
.cartcon_list>ul>li>div>span:hover {
    cursor: pointer;
    background: #eee;
}
.cartcon_list>ul>li>div>input {
    width: 28px;
    height:18px;
    border:1px solid #ccc;
}
.cartcon_list>ul>li>strong {
    width: 120px;
    color:#f61d4b;
}
.cartcon_list>ul>li>em {
    margin-left: 100px;
    width: 14px;
    height: 14px;
    background:url(../images/iconlist_1.png) no-repeat -180px -50px;
    cursor: pointer;
}
.cartcon_list>ul>li>em:hover {
    background-position: -180px -70px;
}
