/*集体样式*/
body{
    margin: 0;
    background: #fff;
    font-family: "Microsoft YaHei";
    font-size: 13px;
    color: #424242;
}
div,p,h3,h2,ul,li ,dl,dd,dt,table,tr,td{
    margin: 0;
    padding: 0;
    list-style:none;
}
a{color: #666;}
a:hover{color: #f61d4b;}
a,a:hover,a:focus{
    text-decoration:none;
}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.container{
    width: 1200px;
    margin:0 auto;
}
i{font-style: normal;}

/*头部样式*/
.header{
    width: 100%;
    height: 45px;
    background:#f5f5f5;
    line-height: 45px;
}
.header li{
    float: left;
    margin-right: 10px;
}
.header li.zhuce{margin: 0;}
.header em{font-style: normal;}



.header-love{
    width: 100%;
    height: 60px;
    background: url("../images/header_love.jpg") no-repeat center
}
.header-love a{
    display:inline-block;
    width: 122px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    margin: 16px 120px 0 0;
    color: #fff;
    background-color: #f61d4b;
    border-radius: 14px;
    font-size: 15px;
}
.header-love a:hover{
    color: #f61d4b;
    background-color:#fff ;
}
.header-love span{
    color:#f61d4b;
    margin: 12px;
}



.header-top{
    height:80px;
    padding: 10px 0;
}
.logo>a{
    display: block;
    width:330px;
    height: 60px;
    background: url(../images/logo.png) no-repeat;
}
.search{
    width: 546px;
    height: 46px;
    margin:20px 170px 5px 0;
    background-color: #f61d4b;
}
.search>input{
    width: 460px;
    line-height: 32px;
    margin: 3px;
    padding: 4px;
    background-color: #fff;
    border: none;
    color: #666;
    font-size: 13px;
    outline: 0;
}
.search>button{
    width: 62px;
    height: 30px;
    border: none;
    background: #f61d4b;
    color: #fff;
    font-size: 16px;
}
.hot-word>li{
   float: left;
    margin-right: 10px;
}
.hot-word a{
    color: #424242;
    font-size: 14px;
}
.shopping-cart{
    display: inline-block;
    height: 36px;
    margin-top: 23px;
    background: #fff;
    padding-right:6px;
    border: 1px solid #dedede;
    color: #666;
    line-height: 33px;
}
.shopping-cart>b{
    width: 20px;
    height: 30px;
    float: left;
    background: url(../images/iconlist_1.png) no-repeat 0px 8px;
    margin:0 8px ;
}
.shopping-cart>i{
    width: 7px;
    height: 25px;
    float: right;
    background: url(../images/iconlist_1.png) no-repeat 0 -29px;
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 5px;
}



nav{
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom:2px solid #F85072;
}
nav ul{margin-left:330px;}
nav li{
    float: left;
    margin-right: 32px;
}
nav li>a{
    color: #4c4c4c;
    font-size: 16px;
}
nav li.current>a{color:red;}
nav div.phone{
    color: #f61d4b;
    font-size: 24px;
    font-weight: bold;
    margin-top: -7px;
}
nav i{
    float: left;
    width: 30px;
    height: 30px;
    background: url(../images/iconlist_1.png) no-repeat 0 -57px;
    margin-right: 10px;
}

/*尾部*/
.footer{margin: 20px 0;}
.footer li{
    float: left;
    margin-left:50px ;
    font-size: 16px;
}
.footer li>i{
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/iconlist_1.png) no-repeat -36px 0px;
    margin-right: 5px;
}
.footer li.fast>i{
    background-position: -64px 0px;
}
.footer li.fresh>i{
    background-position: -92px 0px;
}
.footer li.gx>i{
    background-position: -121px 0px;
}
.footer li.pay>i{
    background-position: -150px 0px;
}