.head{margin-top:15px;}
.head i{
    float: left;
    width: 30px;
    height: 30px;
    background: url(../images/iconlist_1.png) no-repeat 0 -57px;
    margin-right: 10px;
}
.head>div:nth-child(2){
    color: #f61d4b;
    font-size: 24px;
    font-weight: bold;
    margin-top: -30px;
}
section{
    margin-top: 40px;
    height: 475px;
    background: url(../images/login_bg.jpg) no-repeat center center;
}
.login-content{
    background-color: #fff;
    width: 503px;
    height: 360px;
    margin-top: 58px;
    padding: 30px 20px 0 30px;
    box-sizing: border-box;
}
.login-content>div>div{margin-bottom: 20px;}
.login-content>div>div:first-child>a{
    display: inline-block;
    width: 140px;
    height: 35px;
    background-color: #eee;
    line-height: 35px;
    text-align: center;
    color: #a1a1a1;
    font-size: 14px;
}
.login-content>div>div:first-child>a:last-child{margin-left: -3px;}
.login-content>div>div:first-child>a.active{
    background-color: #f61d4b;
    color: #fff;
}
.login-content>div>div:nth-child(2)>.active{display: block;}
.login-content>div>div:nth-child(2)>div{display: none;}
.login-content p{
    border: 1px solid #ddd;
    width: 280px;
    height: 35px;
    margin-bottom: 20px;
}
.login-content p span{
    width: 35px;
    height: 35px;
    float: left;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 40px;
}
.login-content p i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/iconlist_1.png) no-repeat ;
}
.login-content p:first-child i{background-position:-176px 0px; }
.login-content p:nth-child(2) i{background-position:-197px 0px; }
.login-content p input{
    border: none;
    border-left: 1px solid #ddd;
    height: 32px;
    padding-left: 5px;
    width: 239px;
}
.login-content>div>div>div{text-align: right;}
.login-content>div>div:nth-child(3)>input{
    width: 280px;
    height: 40px;
    background-color: #f61d4b;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 15.58px;
    cursor: pointer;
}
.login-content>div>div:last-child span{
    color: #f61d4b;
}
.login-content>ul{
    margin-left: 35px;
    border-left: 1px solid #eee;
    padding-left: 15px;
}
.login-content li>div{
    margin: 4px 0;
    line-height: 20px;
    text-align: center;
}